.rehan{
    color: aqua;
}
 #naziya{
    background-image:url(front.jpg);
 }
 .re-123{
    text-align: center;
 }
 .head{
    color:black;
 }
 
 .head{
    font-size: 4em;
 }
 .h1{
    color: black;
    font-size: 2em;
 }

 .decor{
    color: black;
    
 }
 .btn-123{
color:rgb(240, 10, 98);
background-color: lightblue;
border-radius: 7px;
}

.btn:hover {
    background-color: rgb(135, 135, 214);
}
